body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    padding: 1em;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
}

input{
    display: block;
}



